@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-accent: #fbbf24;
  --color-accent-dark: #f59e0b;
  --color-soft: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #0f172a;
}